<nav id="nav-menu-container">
    <ul class="nav-menu">
      <li class="menu-active"><a href="#intro">Home</a></li>
      <li><a routerLink="/acceuil">Acceuil</a></li>
      <li><a routerLink="/allevent">Les evenements</a></li>
      <li><a routerLink="/myEvents">Mes evenements</a></li>
      <li><a routerLink="/addevent">Ajouter une evenement</a></li>

      
   <li> <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" (click)="openLogin()"
    mdbWavesEffect>Login
   </button>
  </li>

      
    </ul>

  </nav><!-- #nav-menu-container -->

 
